.board-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: max-content; */
}

#board{
    border-style: solid;
    background-color: wheat;
}

#color-picker{
    width: 20%;
    border-style: solid;
    border-width: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 7rem;
    align-items: center;
    background-color: #78CCCB;
}

.color:hover{
    background-color: gray;
    /* padding: 2rem; */
}

#clearButton{
    font-size: 3rem;
    margin: 0.6rem;
    background-color: coral;
    font-weight: bold;
}